<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <connectionStrings>
    <!-- 
      IMPORTANT: Update Data Source to match your SQL Server instance.
      Common options:
        - LocalDB:  Data Source=(localdb)\MSSQLLocalDB
        - SQLEXPRESS: Data Source=.\SQLEXPRESS
        - Default:    Data Source=.
    -->
    <add name="LoginDB" 
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=24-59241-3_LoginDB;Integrated Security=True;Connect Timeout=30" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
